<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<title>Gerai Badai</title>
</head>
<style>
.bottom-links {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
}
</style>
<body style="background-color:FloralWhite">

<div align = "center">
	<h2>Category List</h2>
	<hr><br><br>
	<form method="post" action="/mp/set_categories" th:object="${category}">
		<input type="text" th:field="*{name}" placeholder="Enter New Category" required>
		<input type="submit" name="create" value="Set">
	</form>

</div>

<div align = "center">
    <div th:if="${!categories.empty}">
	    <br><br><br>
		<div id="" style="overflow-y:scroll; height:600px;">
			<table class="table table-striped table-bordered" height="25%" width="25%">
			<tbody>
			<tr th:each="category : ${categories}" align=center>
			<td th:text="${category.name}"></td>
			<td th:text="${category.productCount}"></td>
			<td>
				<form method="post" th:action="@{'/mp/set_categories/'+${category.categoryId}}">
					<input type="hidden" name="associatedProductCount" th:value="${category.productCount}">
					<input type="hidden" name="categoryName" th:value="${category.name}">
					<input type="submit" name="delete" value="Delete" onclick="return showConfirmationDialog(this.form)">
				</form>
			</td>
			</tr>
			</tbody>
			</table>
		</div>
	</div>
	<br>
	
	<div th:if="${categories.empty}">
		<span> Categories that you have added will appear here. Add it now! </span>
	</div>
    
	<div class="bottom-links">
	
	<!-- Display success message if it is a new category -->
    <div th:if="successMessage" style="color: green;">
    <p th:text="${successMessage}"></p>
    </div>
    
	<!-- Display delete confirmation message -->
    <div th:if="deleteMessage" style="color: green;">
    <p th:text="${deleteMessage}"></p>
    </div>
    
	<!-- Display error message if it exists -->
    <div th:if="${duplicateError}" style="color: red;">
    <p th:text="${duplicateError}"></p>
    </div>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
	  <div class="container">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
	      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav mr-auto">
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{'/mp/current_listings'}">Current Listings</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{'/mp/add_products'}">Add Products</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link active" th:href="@{'/mp/set_categories'}">Set Categories</a>
	        </li>
	      </ul>
	      <div class="navbar-nav ml-auto">
	        <a class="nav-item nav-link" th:href="@{/action}">Back to Action</a>
	      </div>
	    </div>
	  </div>
	</nav>
	</div>
</div>
<script>
function showConfirmationDialog(form) {
	  const associatedProductCount = parseInt(form.associatedProductCount.value);
	  const categoryName = form.categoryName.value;
	  
	  if (associatedProductCount === 1) {
	    if (confirm("There is 1 product associated with '" + categoryName + "' category. Deleting this category would delete the product, order baskets and active orders associated with it. Are you sure you want to continue?")) {
	      form.submit();
	    } else {
	      return false; // return false if the user clicked "Cancel"
	    }
	  } else if (associatedProductCount > 1) {
	    if (confirm("There are " + associatedProductCount + " products associated with '" + categoryName + "' category. Deleting this category would delete all products, order baskets and active orders associated with them. Are you sure you want to continue?")) {
	      form.submit();
	    } else {
	      return false; // return false if the user clicked "Cancel"
	    }
	  } else {
	    form.submit();
	  }
	}
</script>
</body>
</html>